*




input{
	font-family: "arial narrow";
	font-size: 15pt;
	text-indent: 5x;
	color: black;
	padding: 0px
}

legend{
	font-family: "arial narrow";
	font-size: 20pt;
	text-align: center;
	text-indent: 5x;
	color: black:
}

p{
	font-family: "arial narrow";
	font-size: 15pt;
	text-indent: 5x;
	color: black;
	padding: 0px
}

label{
	font-family: "arial narrow";
	font-size: 15pt;
	text-indent: 5x;
	color: black;
	padding: 0px
}

	
	



